<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="goo" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <goo>
    <add key="gooDBProvider" value="MSSQLServerProvider"/>
  </goo>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="gooConnectionString" connectionString="Data Source=.;Initial Catalog=GooNorthwind;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>